# Java files
*.class
#*.jar
*.war
*.ear
*.log

# Maven/Gradle files
target/
build/

# Eclipse files
.classpath
.project
.settings/
bin/
*.launch
.metadata/

# mac files
.DS_Store
.AppleDouble
.LSOverride

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Application data files
expenses.dat

